//common
$ict-pink: #FD038F;
$ict-purple: #835FFE;
$ict-purple-pink: #C141C9;
$ict-blue: #2C00C2;
$ict-dark-blue: #112B66;
$ict-light-blue: #0035C3;
$ict-red: #FF173E;
$ict-orange: #FF3D3D;
$ict-blue-green: #2DC0C5;

//hackathons
$hack-1: #6A30F4;
$hack-2: #43CCF8;
$hack-3: #A17AFF;
$hack-4: #C1A8FF;

//news
$news-1: #00A1FF;
$news-2: #16D6DD;
$news-3: #008DDF;
$news-4: #43CCF8;

//podcasts
$podcasts-1: #FF0281;
$podcasts-2: #43CCF8;
$podcasts-3: #FF42A1;
$podcasts-4: #FFAAD5;

//Conferences
$confs-1: #18FFBA;
$confs-1: #43CCF8;
$confs-1: #17EBAC;
$confs-1: #00C092;

//student life
$student-1: #FF776E;
$student-2: #FFDDA8;
$student-3: #DD4339;
$student-4: #EFA531;