@font-face {
  font-family: "Rubik-SemiBold";
  src: url('../fonts/Rubic/Rubik-SemiBold.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik-Medium";
  src: url('../fonts/Rubic/Rubik-Medium.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url('../fonts/Open-Sans/OpenSans-Bold.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url('../fonts/Open-Sans/OpenSans-Regular.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
