@import "./variables.scss";
@import "./colors.scss";
@import "./fonts.scss";

@each $theme in $themes {
  .#{map-get($theme, "name")} {
    *, .v-application .breadcrumbs * {
      color: map-get($theme, "color");
      font-family: "OpenSans-Regular", sans-serif !important;
    }

    .default-color {
      color: map-get($theme, "color") !important;
    }

    .text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6 {
      font-family: "Rubik-Medium", sans-serif !important;
      color: map-get($theme, "h-color");
    }


    .admission-title {
      font-family: "OpenSans-SemiBold", sans-serif !important;
      color: map-get($theme, "h-color");
    }

    .subtitle-color, .subtitle-color *, .v-application a {
      color: map-get($theme, "subtitle-color");
    }

    .subtitle-color-diff {
      color: map-get($theme, "subtitle-color-diff");
    }

    .app-background, .v-list {
      background-color: map-get($theme, "bg-color") !important;
    }

    .news-hover, .dialog-theme, .announ-calendar-circles div, .quillWrapper .ql-snow.ql-toolbar button {
      background-color: map-get($theme, "bg-color");
    }

    .news-hover {
      border: 1px solid map-get($theme, "bg-color");
    }

    .events-item-footer *, .slick-slide.slick-center .text-h6, .notfound-nums, .announ-calendar *, .chip-text, .v-application .person-horizontal .text-h6 {
      color: map-get($theme, "bg-color");
    }

    .section-background {
      background-color: map-get($theme, "bg-section") !important;
    }

    .item-background {
      background-color: map-get($theme, "bg-item") !important;
    }

    .dropdown-background, .news-hover:hover {
      background-color: map-get($theme, "bg-dropdown") !important;
    }

    a.link-arrow:after, .link-arrow a:after {
      background-image: map-get($theme, "img-arrow");
    }

    .hex-section {
      background-image: map-get($theme, "img-hex-container");
    }

    .v-application .header-link, .btn-nav-nums span {
      color: map-get($theme, "color");
    }

    .ethics-item {
      background-color: map-get($theme, "bg-item");
    }

    .ethics-arrow path {
      fill: map-get($theme, "bg-color");
    }

    .ethics-road path:first-child {
      stroke: map-get($theme, "ethics-road");
    }

    .ethics-marker circle {
      fill: map-get($theme, "ethics-marker");
    }

    .search-input, .search-input .v-input__icon--append .v-icon {
      color: map-get($theme, "input-active") !important;
    }

    .v-application .v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
      color: map-get($theme, "input-default") !important;
    }

    .v-icon.v-icon.v-icon--link {
      color: map-get($theme, "input-default");
    }
  }
}

.v-menu__content {
  box-shadow: none !important;
  border: 2px solid #0071B2;
  border-radius: 5px;

  .v-list-item__action {
    margin: 6px 24px 6px 0 !important;
  }
}

.search-input {
  border-radius: 10px;
  font-size: 15px;
}

.v-application .v-text-field--outlined fieldset {
  border-width: 2px;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background-image: url("../assets/images/admin/akar-icons_calendar.svg");
  height: 25px;
  width: 25px;
  cursor: pointer;
}

input[type=time]::-webkit-calendar-picker-indicator {
  background-image: url("../assets/images/admin/icon-park-outline_time.svg");
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.v-application .input-blue.v-input input, .v-application .input-blue.v-input input::placeholder, .input-blue .v-icon, input[type=date]::-webkit-calendar-picker-indicator {
  color: #0071B2 !important;
}

.v-application .input-blue.v-input input::placeholder, {
  opacity: 0.7;
}

.v-application .input-light-blue.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
  color: #00A1FF !important;
  border-width: 1.5px;
}

.v-application .input-border-0.v-text-field--outlined fieldset,
.v-application .v-text-field > .v-input__control > .v-input__slot:before,
.v-application .v-text-field > .v-input__control > .v-input__slot:after {
  border-width: 0;
}

.v-application .navbar-container .v-text-field--outlined fieldset {
  border-width: 1px;
}

body .v-application .text-subtitle-1 {
  font-size: 36px !important;
  line-height: 40px;
  font-family: "OpenSans-Regular", sans-serif !important;
  @media (max-width: 1904px) {
    font-size: 24px !important;
    line-height: 28px;
  }
  @media (max-width: 1264px) {
    font-size: 18px !important;
    line-height: 22px;
  }
  @media (max-width: 600px) {
    font-size: 14px !important;
    line-height: 19px;
  }
}

.ict-ul {
  list-style: none;
  padding-left: 5px !important;

  li::before {
    content: " ";
    display: inline-block;
    border: 2px solid $ict-blue-green;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin-inline-end: 7px;
    margin-bottom: -1px;
    @media (max-width: 600px) {
      border: 1px solid $ict-blue-green;
      height: 5px;
      width: 5px;
      margin-inline-end: 3px;
      margin-bottom: 1px;
    }
  }
}

a {
  text-decoration: none;
}

body .v-application a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

a.link-arrow, .link-arrow a {
  text-decoration: none;
  font-size: 18px;
  position: relative;
  @media (max-width: 1904px) {
    font-size: 14px;
  }
  @media (max-width: 600px) {
    font-size: 12px;
  }
}

a.link-arrow:after, .link-arrow a:after {
  content: '';
  display: inline-block;
  position: absolute;
  background-size: 16px;
  width: 16px;
  height: 16px;
  bottom: 3px;
  @media (max-width: 1904px) {
    background-size: 12px;
    width: 12px;
    height: 12px;
  }
  @media (max-width: 600px) {
    background-size: 10px;
    width: 10px;
    height: 10px;
  }
}

.v-application .navbar-container .v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
  color: #2DC0C5 !important;
}

.navbar-container .v-icon.v-icon.v-icon--link {
  color: #2DC0C5 !important;
}

.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot {
  border-radius: 12px;
}

.breadcrumbs * {
  @media (min-width: 1904px) {
    font-size: 20px;
  }
  @media (max-width: 1264px) {
    font-size: 12px;
  }
}

.theme-dark .v-list-item__action .v-icon {
  color: white !important;
}

.slick-track, .slick-slide, .slick-slide > div {
  height: 100%;
}

.container {
  @media (min-width: 960px) {
    max-width: 810px !important;
  }
  @media (min-width: 1110px) {
    max-width: 900px !important;
  }
  @media (min-width: 1264px) {
    max-width: 1064px !important;
  }
  @media (min-width: 1514px) {
    max-width: 1185px !important;
  }
  @media (min-width: 1904px) {
    max-width: 1585px !important;
  }
  @media (min-width: 2204px) {
    max-width: 1785px !important;
  }
}

.search-input-header {
  min-width: 140px;
  @media (min-width: 1264px) {
    min-width: 175px;
  }

  input:focus {
    min-width: 300px;
  }
}

.quillWrapper {
  &.custom {
    @media (min-width: 960px) {
      margin-top: -2.5em;
      .ql-snow.ql-toolbar button {
        margin-left: 1em;
        margin-right: 0;
      }
    }
  }

  .ql-snow.ql-toolbar button {
    height: 36px;
    width: 36px;
    border: 2px solid #0071B2;
    border-radius: 25px;
    margin-right: 1em;
  }

  .ql-snow.ql-toolbar button.ql-active {
    background-color: #0071B2;

    .ql-stroke, {
      stroke: #000;
      stroke-width: 1.7px;
    }
  }

  .ql-toolbar.ql-snow {
    border: none
  }
}