.v-application div .v-pagination {
  .v-pagination__navigation {
    background-color: #2DC0C5;
    box-shadow: none;
    transition: all .3s ease-in-out;
    width: 40px;
    height: 40px;
    @media (max-width: 600px) {
      width: 30px;
      height: 30px;
    }

    i {
      @media (min-width: 960px) {
        font-size: 36px;
      }
    }
  }

  .v-pagination__navigation:hover {
    transform: scale(1.15);
  }

  .v-pagination__navigation:active {
    background-color: #1E7F83;
  }

  .v-pagination__more {
    opacity: 0.6;
  }

  .v-pagination__item {
    color: inherit;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0) !important;
    font-size: 22px;
    line-height: 24px;
    font-family: "OpenSans-Bold", sans-serif !important;
    opacity: 0.6;
    @media (max-width: 1904px) {
      font-size: 18px;
      line-height: 20px;
    }
    @media (max-width: 600px) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .v-pagination__item.v-pagination__item--active {
    color: #2DC0C5 !important;
    opacity: 1;
  }
}

.theme-dark .v-application div .v-pagination {
  .v-pagination__more, .v-pagination__item:not(.v-pagination__item--active) {
    opacity: 0.8;
  }
}
